/* css styles */


.reveal h1 {
font-size: 64px;
}

/* source: https://github.com/hakimel/reveal.js/issues/1897 */
.reveal h2 {
text-align: center;
}


.reveal .centeralign {
text-align: center;
}


.reveal .slide div.aside {
font-size: 12px;
}

.reveal .scrollable {
    height: 700px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

/* Share buttons */

ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }