/* css styles */


.reveal h1 {
font-size: 64px;
}

/* source: https://github.com/hakimel/reveal.js/issues/1897 */
.reveal h2 {
text-align: center;
}


.centeralign {
text-align: center;
}


.reveal .slide div.aside {
font-size: 12px;
}

.scrollable {
    height: 650px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}