/* css styles */


.reveal h1 {
font-size: 64px;
}

/* source: https://github.com/hakimel/reveal.js/issues/1897 */
.reveal h2 {
text-align: center;
}


.centeralign {
text-align: center;
}


.reveal .slide div.aside {
font-size: 12px;
}

/*
https://github.com/hakimel/reveal.js/issues/866
.reveal img, .reveal video, .reveal iframe {
    max-width: 800px;
    max-height: 600px;
}
*/